* {
  font-family: "Source Sans Pro", sans-serif;
  outline: none !important;
}
a {
  text-decoration: none !important;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: 400 !important;
  line-height: 1.1;
  color: inherit;
}
body {
  background-color: white;
  color: black;
  text-align: justify;
}
.container {
  font-size: large;
}
.heading {
  text-align: center;
  margin: 75px;
  color: black;
  font-weight: bold;
}
.heading-bottom {
  margin-top: 20px;
  margin-bottom: -70px;
}
.section-content {
  margin-left: auto;
  margin-right: auto;

  width: 980px;
  position: relative;
  z-index: 1;
}
.line-head {
  padding: 0px;
  color: black;
  font-weight: bold;
}
.line-tail {
  margin-left: 2%;
  padding: 12px;
}
li {
  list-style: url(hand-point-right-solid.svg);
}
.footer {
  text-align: center;
  margin: 50px;
}
.line-inner {
  margin-left: 5%;
  padding: 12px;
}
